main {
    padding: 0 25px;
    background-color: var(--primary);
}

.btn {
    background-color: var(--titl);
    text-decoration:none; 
    box-shadow: 0px 3px 3px var(--secondary);
    color: var(--text);
    padding: 15px;
    display: block;
    text-align: center;

}

.imageart {
    width: 308px;
    height: 204,43px;
}

.minilogo {
    width: 120px;
    height: 120px;
}

.propoartblock {
    background-color: var(--secondary);
    text-decoration:none;
    box-shadow: 0px 3px 3px var(--secondary);
}

.intro {
    background-color: var(--titl);
    text-decoration:none; 
    border-radius: 5px;
    box-shadow: 0px 3px 3px var(--secondary);
    color: var(--text);
    padding: 5px 10px;
}

.imginto {
    position: relative; 
    left: -1.65em;
    width: 375px;
	height: 617px;
}

.titreintro {
    font-size: var(--title-xxl);
    font-family: var(--font-mono);
    font-weight: normal;
    line-height: 1.1;
    color: var(--titl);
}

.texte {
    font-family: var(--font-sans-serif);
    font-size: var(--text);
    line-height: 1.6;
    color: var(--white);
}

#blockintro {
    position: absolute;
    width: 333px;
    height: 194px;
    left: 21px;
    top: 236px;
    
    background: rgba(20, 20, 20, 0.75);
    border-radius: 10px;

    background: rgba(20, 20, 20, 0.75);
    border-radius: 10px;
    left: -1.65em;
    background-color: rgba(20, 20, 20,0.5);
    text-align: center;
    border-radius: 10px;
    
}

.supperpo {
    position: absolute;
    width: 137px;
    height: 75px;
    left: 114px;
    top: 586px;
    
    background: url(batchevron.png);
}

.imageC {
    width: 200px;
    height: 284,35px;
}

.content {
    
}